[Unit]
Description=Telegram bot 'Капцовка'
After=syslog.target
After=network.target

[Service]
Type=simple
User=khabar0val
WorkingDirectory=/usr/local/bin/bot/src
ExecStart=/usr/bin/python3 /usr/local/bin/bot/src/botallclasses.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target