aiofiles==0.5.0
aiogram==2.8
aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
b0mb3r==3.1.1
Babel==2.8.0
beautifulsoup4==4.9.1
bottle==0.12.18
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
config==0.5.0.post0
COVID19Py==0.3.0
dateparser==0.7.4
DateTime==4.3
distlib==0.3.1
Django==3.0.5
docutils==0.16
Eel==0.14.0
fastapi==0.60.2
filelock==3.0.12
Flask==1.1.2
future==0.18.2
fuzzywuzzy==0.18.0
geojson==2.5.0
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
h11==0.9.0
httpcore==0.10.1
httpx==0.14.0
idna==2.6
importlib-metadata==1.6.0
isort==5.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
Kivy==1.11.1
kivy-deps.angle==0.2.0
kivy-deps.glew==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-Garden==0.1.4
lazy-object-proxy==1.4.3
loguru==0.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
multidict==4.7.6
nodejs==0.1.1
numpy==1.19.2
optional-django==0.1.0
packaging==20.4
pefile==2019.4.18
pen==0.1.0a4
phonenumbers==8.12.7
pluggy==0.13.1
py==1.9.0
PyAudio @ file:///C:/Users/%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%20%D0%A5%D0%B0%D0%B1%D0%B0%D1%80%D0%BE%D0%B2/Desktop/assist/PyAudio-0.2.11-cp37-cp37m-win32.whl
pycparser==2.20
pydantic==1.6.1
pygame==2.0.0.dev6
Pygments==2.6.1
PyInstaller==3.6
pylint==2.6.0
pyowm==3.0.0
pyparsing==2.4.7
pypiwin32==223
PyQRCode==1.2.1
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.1.0
PyQt5-sip==12.8.0
pyqt5-tools==5.15.2.3.0.2
PySide2==5.15.0
PySocks==1.7.1
pyTelegramBotAPI==3.7.3
pytest==5.4.3
python-dateutil==2.8.1
python-dotenv==0.17.0
python-Levenshtein @ file:///C:/Users/%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%20%D0%A5%D0%B0%D0%B1%D0%B0%D1%80%D0%BE%D0%B2/Desktop/assist/python_Levenshtein-0.12.0-cp37-cp37m-win32.whl
pyttsx3==2.88
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
qrcode==6.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
random-user-agent==1.0.1
regex==2020.5.14
requests==2.18.4
rfc3986==1.4.0
sentry-sdk==0.16.3
shiboken2==5.15.0
six==1.15.0
sniffio==1.1.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
starlette==0.13.6
termcolor==1.1.0
toml==0.10.1
tomlkit==0.6.0
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.22
uvicorn==0.11.8
virtualenv==20.4.3
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
websockets==8.1
Werkzeug==1.0.1
whichcraft==0.6.1
win32-setctime==1.0.1
wrapt==1.12.1
yarl==1.4.2
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
